﻿.modal-dialog-centered {
    margin-top: auto;
    margin-bottom: auto;
    width: 640px;
}

.confirm-title {
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: center;
    color: #000000;
}

.confirm-content {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    border-top: solid 1px #777777;
    padding-top: 20px;
    margin-top: 20px;
    color: #231f20;
}

.modal-header {
    border: none;
    padding: 0px;
}

.close {
    margin-right: 10px;
    margin-top: 10px;
    color: #ff0000;
}

.modal-footer {
    text-align: center;
    border: none;
}

.modal-header .close {
    font-size: 30px;
    color: #ff0000;
}

.modal-dialog-centered .btn-primary {
    background-color: #e5f1fe;
    border: solid 1px #d6d6d6;
    color: #0473f5;
    font-weight: 600;
}

    .modal-dialog-centered .btn-primary:hover {
        border: solid 1px #8aa4fe;
        background-color: #e5f1fe;
        color: #0473f5;
    }

    .modal-dialog-centered .btn-primary:disabled {
        background-color: #d6d6d6;
        border: solid 1px #d6d6d6;
        color: #777777;
    }

    .modal-dialog-centered .btn-primary:active {
        background-color: #2f57ff;
        color: #ffffff;
    }

    .modal-dialog-centered .btn-primary:disabled:hover {
        background-color: #d6d6d6;
        border: solid 1px #ff0000;
        color: #777777;
    }

.custom-modal {
    background-color: rgba(181, 181, 181, 0.5);
}

    .custom-modal.modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: calc(100% - 230px);
    }

    .custom-modal.modal {
        text-align: center;
    }

        .custom-modal.modal .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

    .custom-modal.modalVisible {
        display: block;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 5010;
    }
    .custom-modal.wide-modal .modal-dialog-centered {
        width: 735px;
    }

    .custom-modal .loading {
        left: 0;
        top: 50%;
        margin: 0 auto;
    }

    .custom-modal .modal-content {
        border-radius: 0;
    }

    .custom-modal .btn {
        margin-left: 10px;
    }

    .custom-modal .modal-content .modal-header {
        border: none;
        height: 30px;
    }

        .custom-modal .modal-content .modal-header .close {
            color: #B9B9B9;
            font-size: 20px;
            opacity: 1;
            margin-top: 15px;
            margin-right: 15px;
        }

    .custom-modal .modal-content .modal-body, .custom-modal .modal-content .modal-footer {
        padding: 0 50px 20px 40px;
    }

        .custom-modal .modal-content .modal-body .confirm-title {
            font-family: 'IBM Plex Sans';
            font-size: 18px;
            color: #767676;
            text-align: left;
            text-transform: uppercase;
        }

            .custom-modal .modal-content .modal-body .confirm-title.center {
                text-align: center;
            }

            .custom-modal .modal-content .modal-body .confirm-title.normal {
                text-transform: none;
            }

        .custom-modal .modal-content .modal-body .confirm-content {
            border: 0;
            padding: 0;
            font-weight: normal;
        }

            .custom-modal .modal-content .modal-body .confirm-content.center {
                text-align: center;
            }

            .custom-modal .modal-content .modal-body .confirm-content .error-message {
                color: red;
            }

            .custom-modal .modal-content .modal-body .confirm-content .info {
                font-family: 'IBM Plex Sans';
                font-size: 14px;
                color: #767676;
            }

            .custom-modal .modal-content .modal-body .confirm-content input {
                font-family: 'IBM Plex Sans';
                border-radius: 0;
                border-color: #9D9D9D;
                margin-top: 10px;
            }

                .custom-modal .modal-content .modal-body .confirm-content input[type="checkbox"] {
                    margin-top: 0px;
                }

                .custom-modal .modal-content .modal-body .confirm-content input.validation-error {
                    border-color: red;
                }

                .custom-modal .modal-content .modal-body .confirm-content input::placeholder {
                    font-family: 'IBM Plex Sans';
                    font-size: 16px;
                    color: #BFBFBF;
                    opacity: 1; /* Firefox */
                }

                .custom-modal .modal-content .modal-body .confirm-content input:-ms-input-placeholder {
                    font-family: 'IBM Plex Sans';
                    font-size: 16px;
                    color: #BFBFBF;
                }

                .custom-modal .modal-content .modal-body .confirm-content input::-ms-input-placeholder {
                    font-family: 'IBM Plex Sans';
                    font-size: 16px;
                    color: #BFBFBF;
                }

        .custom-modal .modal-content .modal-footer .btn {
            min-width: 90px;
            max-width: 200px;
            border-radius: 20px;
            font-weight: 900;
            font-family: 'IBM Plex Sans';
            font-size: 14px;
            float: right;
            /*display: inline-flex;*/
            height: 40px;
        }

        .custom-modal .modal-content .modal-body.confirm-body .btn.clear {
            color: #333;
            border-color: #F2F2F2;
            background-color: #F2F2F2;
        }

            .custom-modal .modal-content .modal-body.confirm-body .btn.clear:hover {
                color: #F2F2F2;
                border-color: #999999;
                background-color: #999999;
            }

        .custom-modal .modal-content .modal-footer .btn.confirm {
            color: #1245EB;
            border-color: #1245EB;
            background-color: white;
        }

            .custom-modal .modal-content .modal-footer .btn.confirm:hover {
                color: white;
                border-color: #1245EB;
                background-color: #1245EB;
            }

        .custom-modal .modal-content .modal-footer .btn.confirm.end-eval-cancel {
            margin-left: 5px;
        }

        .custom-modal .modal-content .modal-footer .btn.cancel {
            color: #999999;
            border-color: #F2F2F2;
            background-color: #F2F2F2;
        }

            .custom-modal .modal-content .modal-footer .btn.cancel:hover {
                color: #F2F2F2;
                border-color: #999999;
                background-color: #999999;
            }

        .custom-modal .modal-content .modal-footer .btn.cancel.end-eval-reject {
            color: red;
            border-color: red;
            background-color: white;
        }

            .custom-modal .modal-content .modal-footer .btn.cancel.end-eval-reject:hover {
                color: white;
                background-color: red;
            }

    .custom-modal .tooltip-wrapper {
        position: relative;
        display: inline-block;
        color: #1245EB;
    }

        /* Tooltip text */
        .custom-modal .tooltip-wrapper .tooltip-text {
            visibility: hidden;
            width: 300px;
            background-color: white;
            color: #1245EB;
            text-align: center;
            padding: 5px 0;
            border: 1px solid #1245EB;
            border-radius: 6px;
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .custom-modal .tooltip-wrapper:hover .tooltip-text {
            visibility: visible;
        }